.menu
  .top
    .item(v-for='item of menus.top' :class='{ active: isActive(item.path) }' @mousedown='onMenuSwitch(item.path)')
      img(:src='item.icon[isActive(item.path) ? 1 : 0]')
      .name {{ item.name }}
  .bottom
    .item(v-for='item of menus.bottom' :class='{ active: isActive(item.path) }' @mousedown='onMenuSwitch(item.path)')
      img(:src='item.icon[isActive(item.path) ? 1 : 0]')
      .name {{ item.name }}
