.menu
  width 100px
  border-right 1px solid #eee
  text-align center

  .item
    margin 4px auto
    padding 10px 0
    width 80px
    cursor pointer

    &:hover, &.active
      border-radius 8px
      background #edfafe

    .name
      margin-top 8px
      color #555
      font-size 14px
