.menu
  .top
    .item(v-for='item in menus.top' :class='{ active: isActive(item.path) }' @mousedown='onMenuSwitch(item.path)')
      img(:src='item.icon[isActive(item.path) ? 1 : 0]')
      .name {{ t(item.key) }}
  .bottom
    .item(v-for='item in menus.bottom' :class='{ active: isActive(item.path) }' @mousedown='onMenuSwitch(item.path)')
      img(:src='item.icon[isActive(item.path) ? 1 : 0]')
      .name {{ t(item.key) }}
