.single
  el-form(:model='form' label-width='100px')
    el-form-item(:label='t("video.video_url")')
      el-input(v-model='form.videoURL' :placeholder='t("video.example_video")')
    el-form-item.row(:label='t("video.ratio")')
      el-radio-group(v-model='form.ratio')
        el-radio(label='540p' border) {{ t('video.ratio_540') }}
        el-radio(label='720p' border) {{ t('video.ratio_720') }}
        el-radio(label='1080p' border) {{ t('video.ratio_1080') }}
    el-form-item.row(:label='t("video.watermark")')
      el-radio-group(v-model='form.watermark')
        el-radio(:label='0' border) {{ t('video.watermark_0') }}
        el-radio(:label='1' border) {{ t('video.watermark_1') }}
    el-form-item.row(:label='t("video.audio")')
      el-radio-group(v-model='form.audio')
        el-radio(:label='false' border) {{ t('video.audio_0') }}
        el-radio(:label='true' border) {{ t('video.audio_1') }}
    el-form-item.row(:label='t("video.file_name")')
      el-radio-group(v-model='form.fileNameType')
        el-radio(:label='FileNameType.TitleTag' border) {{ t('video.title_tag') }}
        el-radio(:label='FileNameType.Title' border) {{ t('video.title') }}
        el-radio(:label='FileNameType.ID' border) {{ t('video.video_id') }}
        el-radio(:label='FileNameType.MD5' border) MD5
    el-form-item.row(:label='t("video.save_path")')
      el-input(v-model='form.savePath' readonly)
        template(v-if='diskFreeSize' #append) {{ t('video.disk_space') }}{{ diskFreeSize }}
      el-button(type='primary' @click='onSaveClick' :disabled='isDownloading') {{ t('button.select') }}
    el-form-item
      el-button(type='primary' @click='onSubmit' :loading='isDownloading') {{ t('button.download') }}
      el-button(@click='onCancelClick' :disabled='!isDownloading') {{ t('button.cancel') }}

  .result(v-if='status')
    span {{ t('video.status') }}{{ status }}
