.single
  el-form(:model='form' label-width='90px')
    el-form-item(label='视频地址')
      el-input(v-model='form.homeURL' placeholder='例如：https://www.douyin.com/user/MS4wLjABAAAAzzmS2TgIEvxGftMpWD13Ty8k5HmsjlGsLJ1yBUEm2Ew')
    el-form-item.row(label='视频质量')
      el-radio-group(v-model='form.ratio')
        el-radio(label='540p' border) 高清 (540P)
        el-radio(label='720p' border) 超清 (720P)
        el-radio(label='1080p' border) 蓝光 (1080P)
    el-form-item.row(label='视频水印')
      el-radio-group(v-model='form.watermark')
        el-radio(:label='0' border) 去除水印
        el-radio(:label='1' border) 保留水印
    el-form-item.row(label='音频文件')
      el-radio-group(v-model='form.audio')
        el-radio(:label='false' border) 跳过
        el-radio(:label='true' border) 下载
    el-form-item.row(label='文件重命名')
      el-radio-group(v-model='form.nameType')
        el-radio(:label='0' border) 标题 + 标签
        el-radio(:label='1' border) 标题
        el-radio(:label='2' border) 视频/音频 ID
    el-form-item.row(label='保存位置')
      el-input(v-model='form.savePath')
      el-button(type='primary' @click='onSaveClick' :disabled='isDownloading') 浏 览
    el-form-item
      el-button(type='primary' @click='onSubmit' :loading='isDownloading') 下 载
      el-button(@click='onCancelClick' :disabled='!isDownloading') 取 消

  .result(v-if='total > 0')
    div
      span 总数：{{ total }}
      el-divider(direction='vertical')
      span 成功：{{ successCount }}
      el-divider(direction='vertical')
      span 失败：{{ failureCount }}
    el-progress(:percentage='percent')
