.single
  flex 1
  padding 20px

  form
    .row
      :deep(.el-form-item__content)
        flex-wrap nowrap

        button
          margin-left 10px

  .result
    display flex
    padding-left 20px
