.main
  el-form(:model='form' label-width='80px')
    el-form-item(label='主页地址')
      el-input(v-model='form.homeURL' placeholder='例如：https://www.douyin.com/user/MS4wLjABAAAAzzmS2TgIEvxGftMpWD13Ty8k5HmsjlGsLJ1yBUEm2Ew')
    el-form-item.row(label='保存位置')
      el-input(v-model='form.savePath' disabled)
      el-button(type='primary' @click='onSaveClick' :disabled='isDownloading') 选 择
    el-form-item
      el-button(type='primary' @click='onSubmit' :loading='isDownloading') 下 载
      el-button(@click='onCancelClick' :disabled='!isDownloading') 取 消

  .result(v-if='total > 0')
    div
      span 总数：{{ total }}
      el-divider(direction='vertical')
      span 成功：{{ successCount }}
      el-divider(direction='vertical')
      span 失败：{{ failCount }}
    el-progress(:percentage='percent')
