.about
  img(src='@/assets/img/logo.png')
  .name 抖音下载器
  .version 版本 v{{ version }}
  img.github(src='@/assets/img/github.svg' @click='onGithubClick')
  .btn-check
    el-button(:loading='isCheckLoading' @click='onCheckUpdateClick' round) 检查更新
