.about
  position relative
  flex 1
  margin-top 40px
  text-align center

  .name
    margin-top 10px
    font-weight bold
    font-size 20px

  .version
    margin-top 10px
    font-size 14px

  .github
    margin-top 20px
    cursor pointer

  .btn-check
    margin-top 20px
