.about
  img(src='@/assets/img/logo.png')
  .name {{ t('app') }}
  .version {{ t('version') }}: v{{ version }}
  .btn-check
    el-button(:loading='isCheckLoading' @click='onCheckUpdateClick' round) {{ t('about.check_update') }}
  img.github(src='@/assets/img/github.svg' @click='onGithubClick')

  .language
    span {{ t('about.change_language') }}
    el-select(v-model='locale' @change='onLanguageChange')
      el-option(v-for='item in languages' :label='item.label' :value='item.value')
