el-dialog(v-model='store.state.updater.active' :title='t("updater.tip")' custom-class='updater-dialog' :modal='false' :close-on-click-modal='false')
  span {{ t('updater.message', { version: store.state.updater.version }) }}
  template(#footer)
    span.dialog-footer
      el-button(@click='onCancelClick') {{ t('button.cancel') }}
      el-button(type='primary' @click='onUpdateClick') {{ t('button.update') }}
