el-dialog(v-model='store.state.updater.active' title='提示' custom-class='updater-dialog' :modal='false' :close-on-click-modal='false')
  span 发现新版本 v{{ store.state.updater.version }}，是否立即更新？
  template(#footer)
    span.dialog-footer
      el-button(@click='onCancelClick') 取 消
      el-button(type='primary' @click='onUpdateClick') 更 新
